{{ introduction.content|replace({'%friend_first_name%': invitation.friendFirstName|e('html')})|raw }}

<ul>
{% for argument in arguments %}
    {{- argument.content|raw }}
{% endfor %}
</ul>

{{ conclusion.content|raw }}

<p>
{{ invitation.authorFirstName|e('html') }}
<br/><br/>
PS : Envie d'envoyer un argumentaire personnalisé comme celui-ci ? <a href="http://en-marche.fr">Clique ici</a>.
</p>
